In [155]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

# test setindeki idlerin bazıları train setinde yok onları ayrı değerlendirmek gerekiyor

In [233]:
price = pd.read_csv("price.csv")
sample_submission = pd.read_csv("sample_submission.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv").drop("index",axis=1)

In [234]:
for df in [price, sample_submission, train, test]:
    df.columns = [i.replace(" ", "").lower() for i in df.columns]

In [235]:
train.shape,test.shape, sample_submission.shape

((1379260, 7), (108472, 5), (108472, 2))

In [236]:
train["billingdate"]=pd.to_datetime(train["billingdate"])
test["weekstartdate"]=pd.to_datetime(test["weekstartdate"])
price["validfrom"]=pd.to_datetime(price["validfrom"])

In [237]:
train = pd.merge(train, price, left_on = ["citycode","billingdate","product"], right_on=["citycode","validfrom","product"], how="left")

In [238]:
train["week_of_year"]=train["billingdate"].dt.isocalendar().week
train["year"] = train["billingdate"].dt.year
test=pd.merge(test, price, left_on = ["citycode","weekstartdate","product"], right_on=["citycode","validfrom","product"], how="left")

In [239]:
agg_train = train.groupby(["customer","area","citycode","year","week_of_year","product"]).agg({"litres":"sum","crp":"mean"}).reset_index()

In [240]:
test

,customer,area,citycode,product,weekstartdate,validfrom,crp
0,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-07,2019-01-07,5.76
1,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-14,2019-01-14,5.94
2,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-21,2019-01-21,6.14
3,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-28,2019-01-28,6.14
4,10048261,Karadeniz Bölgesi,883,Motorin,2019-02-04,2019-02-04,6.14
...,...,...,...,...,...,...,...
108467,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-02,2019-12-02,7.14
108468,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-09,2019-12-09,7.14
108469,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-16,2019-12-16,7.14
108470,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-23,2019-12-23,7.14
108471,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-30,2019-12-30,7.30

In [241]:
test["week_of_year"]=test["weekstartdate"].dt.isocalendar().week
test["year"] = test["weekstartdate"].dt.year

In [242]:
# plants = pd.get_dummies(train.plant)
# plant_stats=pd.concat([train,plants],axis=1)
# plant_stats=plant_stats.groupby(["customer","year","week_of_year","product"])[plants.columns].max().reset_index()
#agg_train=pd.concat([agg_train, plant_stats[plants.columns]],axis=1)

In [243]:
areas = pd.get_dummies(agg_train["area"])
agg_train = pd.concat([agg_train.drop(["area"],axis=1),areas], axis=1)
product = pd.get_dummies(agg_train["product"])
agg_train = pd.concat([agg_train.drop(["product"],axis=1),product], axis=1)

In [244]:
test

,customer,area,citycode,product,weekstartdate,validfrom,crp,week_of_year,year
0,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-07,2019-01-07,5.76,2,2019
1,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-14,2019-01-14,5.94,3,2019
2,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-21,2019-01-21,6.14,4,2019
3,10048261,Karadeniz Bölgesi,883,Motorin,2019-01-28,2019-01-28,6.14,5,2019
4,10048261,Karadeniz Bölgesi,883,Motorin,2019-02-04,2019-02-04,6.14,6,2019
...,...,...,...,...,...,...,...,...,...
108467,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-02,2019-12-02,7.14,49,2019
108468,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-09,2019-12-09,7.14,50,2019
108469,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-16,2019-12-16,7.14,51,2019
108470,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-23,2019-12-23,7.14,52,2019
108471,12739737,Doğu Anadolu Bölgesi,194,Benzin,2019-12-30,2019-12-30,7.30,1,2019

In [245]:
# plants = pd.get_dummies(test.plant)
# plant_stats=pd.concat([test,plants],axis=1)
# plant_stats=plant_stats.groupby(["customer","year","week_of_year","product"])[plants.columns].max().reset_index()

#test=pd.concat([test, plant_stats[plants.columns]],axis=1)

areas = pd.get_dummies(test["area"])
test = pd.concat([test.drop(["area"],axis=1),areas], axis=1)
product = pd.get_dummies(test["product"])
test = pd.concat([test.drop(["product"],axis=1),product], axis=1)

In [246]:
agg_train.shape, test.shape

((483662, 15), (108472, 16))

In [247]:
agg_train

,customer,citycode,year,week_of_year,litres,crp,Akdeniz Bölgesi,Doğu Anadolu Bölgesi,Ege Bölgesi,Güneydoğu Anadolu Bölgesi,Karadeniz Bölgesi,Marmara Bölgesi,İç Anadolu Bölgesi,Benzin,Motorin
0,10048261,883,2014,1,8926.0,4.8475,0,0,0,0,1,0,0,1,0
1,10048261,883,2014,1,48905.0,4.3550,0,0,0,0,1,0,0,0,1
2,10048261,883,2014,2,4242.0,5.0200,0,0,0,0,1,0,0,1,0
3,10048261,883,2014,2,29017.0,4.4300,0,0,0,0,1,0,0,0,1
4,10048261,883,2014,3,13886.0,4.9800,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483657,12663344,218,2018,51,1504.0,6.1100,0,1,0,0,0,0,0,0,1
483658,12663344,218,2018,52,11111.0,6.0100,0,1,0,0,0,0,0,1,0
483659,12663344,218,2018,52,22882.0,5.8300,0,1,0,0,0,0,0,0,1
483660,12664221,941,2018,52,6528.0,5.9200,0,0,0,0,0,1,0,1,0
483661,12664221,941,2018,52,26314.0,5.6800,0,0,0,0,0,1,0,0,1

In [248]:
test

,customer,citycode,weekstartdate,validfrom,crp,week_of_year,year,Akdeniz Bölgesi,Doğu Anadolu Bölgesi,Ege Bölgesi,Güneydoğu Anadolu Bölgesi,Karadeniz Bölgesi,Marmara Bölgesi,İç Anadolu Bölgesi,Benzin,Motorin
0,10048261,883,2019-01-07,2019-01-07,5.76,2,2019,0,0,0,0,1,0,0,0,1
1,10048261,883,2019-01-14,2019-01-14,5.94,3,2019,0,0,0,0,1,0,0,0,1
2,10048261,883,2019-01-21,2019-01-21,6.14,4,2019,0,0,0,0,1,0,0,0,1
3,10048261,883,2019-01-28,2019-01-28,6.14,5,2019,0,0,0,0,1,0,0,0,1
4,10048261,883,2019-02-04,2019-02-04,6.14,6,2019,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108467,12739737,194,2019-12-02,2019-12-02,7.14,49,2019,0,1,0,0,0,0,0,1,0
108468,12739737,194,2019-12-09,2019-12-09,7.14,50,2019,0,1,0,0,0,0,0,1,0
108469,12739737,194,2019-12-16,2019-12-16,7.14,51,2019,0,1,0,0,0,0,0,1,0
108470,12739737,194,2019-12-23,2019-12-23,7.14,52,2019,0,1,0,0,0,0,0,1,0
108471,12739737,194,2019-12-30,2019-12-30,7.30,1,2019,0,1,0,0,0,0,0,1,0

In [249]:
test = test.drop(["weekstartdate","validfrom"],axis=1)

In [250]:
X_train= agg_train.drop(["litres"],axis=1)
y_train= agg_train["litres"]
X_train["week_of_year"]=X_train["week_of_year"].astype(int)

In [251]:
X_test=test.copy()

In [252]:
X_train.head()

,customer,citycode,year,week_of_year,crp,Akdeniz Bölgesi,Doğu Anadolu Bölgesi,Ege Bölgesi,Güneydoğu Anadolu Bölgesi,Karadeniz Bölgesi,Marmara Bölgesi,İç Anadolu Bölgesi,Benzin,Motorin
0,10048261,883,2014,1,4.8475,0,0,0,0,1,0,0,1,0
1,10048261,883,2014,1,4.3550,0,0,0,0,1,0,0,0,1
2,10048261,883,2014,2,5.0200,0,0,0,0,1,0,0,1,0
3,10048261,883,2014,2,4.4300,0,0,0,0,1,0,0,0,1
4,10048261,883,2014,3,4.9800,0,0,0,0,1,0,0,1,0

In [253]:
X_test.head()

,customer,citycode,crp,week_of_year,year,Akdeniz Bölgesi,Doğu Anadolu Bölgesi,Ege Bölgesi,Güneydoğu Anadolu Bölgesi,Karadeniz Bölgesi,Marmara Bölgesi,İç Anadolu Bölgesi,Benzin,Motorin
0,10048261,883,5.76,2,2019,0,0,0,0,1,0,0,0,1
1,10048261,883,5.94,3,2019,0,0,0,0,1,0,0,0,1
2,10048261,883,6.14,4,2019,0,0,0,0,1,0,0,0,1
3,10048261,883,6.14,5,2019,0,0,0,0,1,0,0,0,1
4,10048261,883,6.14,6,2019,0,0,0,0,1,0,0,0,1

In [163]:
# from sklearn.model_selection import train_test_split
# X= agg_train.drop(["litres"],axis=1)
# X["week_of_year"]=X["week_of_year"].astype(int)

# y= agg_train["litres"]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [256]:
X_test["week_of_year"]=X_test["week_of_year"].astype(int)

In [260]:
X_test.columns = X_train.columns

In [257]:
import xgboost as xgb

model = xgb.XGBRegressor()


model.fit(X_train, y_train)

ValueError: feature_names mismatch: ['customer', 'citycode', 'year', 'week_of_year', 'crp', 'Akdeniz Bölgesi', 'Doğu Anadolu Bölgesi', 'Ege Bölgesi', 'Güneydoğu Anadolu Bölgesi', 'Karadeniz Bölgesi', 'Marmara Bölgesi', 'İç Anadolu Bölgesi', 'Benzin', 'Motorin'] ['customer', 'citycode', 'crp', 'week_of_year', 'year', 'Akdeniz Bölgesi', 'Doğu Anadolu Bölgesi', 'Ege Bölgesi', 'Güneydoğu Anadolu Bölgesi', 'Karadeniz Bölgesi', 'Marmara Bölgesi', 'İç Anadolu Bölgesi', 'Benzin', 'Motorin']

In [261]:
preds = model.predict(X_test)
preds=[i if i >= 0 else 0  for i in preds ]

In [263]:
sample_submission

         index  litres
0            0     0.0
1            1     0.0
2            2     0.0
3            3     0.0
4            4     0.0
...        ...     ...
108467  108467     0.0
108468  108468     0.0
108469  108469     0.0
108470  108470     0.0
108471  108471     0.0

[108472 rows x 2 columns]

In [264]:
len(preds)

108472

In [265]:
sample_submission["litres"] = preds

In [ ]:
sample_submission

In [277]:
sample_submission.set_index("index").to_csv("sadasd.csv")

In [269]:
sub=pd.read_csv("sub.csv")

In [275]:
sample_submission

         index        litres
0            0  23876.539062
1            1  26032.285156
2            2  35733.968750
3            3  35655.773438
4            4  25200.378906
...        ...           ...
108467  108467   7811.708008
108468  108468   7819.955078
108469  108469   1150.858398
108470  108470   1493.719604
108471  108471   7170.335938

[108472 rows x 2 columns]

In [274]:
sub

         index        Litres
0            0  52067.308592
1            1  91185.900149
2            2  47961.245035
3            3  27149.412758
4            4  32576.645212
...        ...           ...
108467  108467  25410.504489
108468  108468  26063.321021
108469  108469  27305.062362
108470  108470  31306.094659
108471  108471  25482.668592

[108472 rows x 2 columns]

In [173]:
# Logaritmik dönüşüm
gercek_log = np.log1p(y_test)
tahmin_log = np.log1p(preds)

# Karelerin farkı
karelerin_farki = (tahmin_log - gercek_log) ** 2

# Ortalama alın
mse = np.mean(karelerin_farki)

# Kökünü alarak RMSLE hesapla
rmsle = np.sqrt(mse)

In [174]:
rmsle

1.3729224092172874

In [158]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324053 entries, 96717 to 121958
Data columns (total 31 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   customer                   324053 non-null  int64
 1   citycode                   324053 non-null  int64
 2   year                       324053 non-null  int64
 3   week_of_year               324053 non-null  UInt32
 4   crp                        320832 non-null  float64
 5   T101                       324053 non-null  uint8
 6   T102                       324053 non-null  uint8
 7   T105                       324053 non-null  uint8
 8   T107                       324053 non-null  uint8
 9   T108                       324053 non-null  uint8
 10  T110                       324053 non-null  uint8
 11  T111                       324053 non-null  uint8
 12  T112                       324053 non-null  uint8
 13  T113                       324053 non-null  uint8
 14  T120                       324053 non-null  uint8
 15  T155                       324053 non-null  uint8
 16  T248                       324053 non-null  uint8
 17  T314                       324053 non-null  uint8
 18  T317                       324053 non-null  uint8
 19  T318                       324053 non-null  uint8
 20  T327                       324053 non-null  uint8
 21  T329                       324053 non-null  uint8
 22  Akdeniz Bölgesi            324053 non-null  uint8
 23  Doğu Anadolu Bölgesi       324053 non-null  uint8
 24  Ege Bölgesi                324053 non-null  uint8
 25  Güneydoğu Anadolu Bölgesi  324053 non-null  uint8
 26  Karadeniz Bölgesi          324053 non-null  uint8
 27  Marmara Bölgesi            324053 non-null  uint8
 28  İç Anadolu Bölgesi         324053 non-null  uint8
 29  Benzin                     324053 non-null  uint8
 30  Motorin                    324053 non-null  uint8
dtypes: UInt32(1), float64(1), int64(3), uint8(26)
memory usage: 21.9 MB